*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.tmp/
/target/
/turism-logic/target/
/turism-api/target/

#NetBeans
nbactions.xml
/turism-api/nb-configuration.xml

#Tests
/turism-logic/derby.log
/turism-api/derby.log

#Bower
/turism-api/src/main/webapp/bower_components/

#idea
.idea/
*.iml
