<!DOCTYPE html>
<div class="list">
    <div ng-if="true" class="col-md-2">
        <h4>Categorías</h4>
        <span style="cursor: pointer" class="glyphicon glyphicon-repeat" ng-click="filtrar('')"></span>
        <ul style="list-style:none">
            <li ng-repeat="category in categorys"><a ng-click="filtrar(category.id)" style="cursor: pointer">{{category.name}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <div ng-repeat="trip in records">
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="col-md-12">
                    <span class="text_encima">{{trip.name}}</span>
                    <span class="text_encima_inferior">{{trip.promotion ? "-"+(trip.discountRate)+" %OFF":""}}</span> 
                   <a ng-href="{{trip.image}}" ui-sref="tripDetailsInfo({tripId:trip.id})"><img style="width: 420px;height: 210px" class="img-responsive" ng-src="{{trip.image}}"></a>
                </div>

                   
                <div class="caption" >
                    <button class="btn btn-default btn-sm"  ui-sref="userWishList({trip_id:trip.id})">Add to wish list
                    </button>
                       <p style="float: right;">
                            <strong>{{trip.promotion ? "Antes "+(trip.price|currency) +"  Ahora  "+((trip.price - ((trip.price*trip.discountRate)/100))|currency) : (trip.price|currency) }}</strong></p>
                </div>
                <br><br>
            </div>           
                </div>  
            </div>
            </div>

